button{
    border: none;
    background: hsl(184, 5%, 34%);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    /* border-radius: 50%; */
    color: white;
    outline: none;
    height: 60px;

}

button:hover{
    background: hsl(184, 5%, 40%);
}

.sign{
    border: none;
    background: hsl(184, 5%, 34%);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    /* border-radius: 50%; */
    color: hsl(145, 63%, 43%);
    outline: none;
    height: 60px;

}

.sign:hover{
    background: hsl(184, 5%, 40%);
}

.symbol{
    border: none;
    background: hsl(184, 5%, 34%);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    /* border-radius: 50%; */
    color: hsl(1, 77%, 55%);
    outline: none;
    height: 60px;
}

.equals{
    background: hsl(145, 63%, 40%);
    grid-column: 3/5;
}

.equals:hover{
    background: hsl(145, 63%, 43%);
}